	<style>
		img.anuncio-img {
		  max-width: 100%;
		  max-height: 200px;
		}
	  </style>

	<% include cabecera.ejs %>
	<!-- Mashead header-->
	<header class="masthead">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6">
					<!-- Mashead text and app badges-->
					<div class="mb-5 mb-lg-0 text-center text-lg-start">
						<h1 class="display-1 lh-1 mb-3"><%= __('Welcome to your adverts app') %></h1>
						
					</div>
					<% anuncios.forEach(anuncio=> { %>
						<div>
							<h2>
								<%= anuncio.titulo %>
							</h2>
							<p><strong> <%=__('Description') %>:</strong>
								<%= anuncio.descripcion %>
							</p>
							<p><strong> <%=__('Type') %>:</strong>
								<%= anuncio.tipo %>
							</p>
							<p><strong> <%=__('Price') %>:</strong>
								<%= anuncio.precio %>
							</p>
							<% if (anuncio.foto) { %>
								<img class="anuncio-img" src="<%= anuncio.foto %>" alt="Foto del anuncio">
								<% } %>
									<p><strong> <%=__('Tags') %>:</strong>
										<% anuncio.tags.forEach(tag=> { %>
											<%= tag.nombre %>
												<% }); %>
									</p>
						</div>
						<% }); %>
			</div>
		</div>
	</div>
</header>
		<% include pie.ejs %>
